
@import "global.scss";

$button-clicked: #383838;

.Button
{
	display: inline-block;
	min-width: 100px;
	max-width: 95%;
	height: 24px;
	
	padding: 5px;
	margin: 5px;
	
	
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	
	transition: 0.5s;
	color: white;
	background: $Theme-1-light;
	
	border-radius: 5px;
	
	@include MaterialShadow (1);
}

.Button:hover
{
	transition: 0.5s;
	background: $button-clicked;
	@include MaterialShadow (4);
}
