
@import "global.scss";

.TagSelectorBox
{
	position: relative;
	
	min-width: 300px;
	
	max-width: 95%;
	border-radius: 5px;
	
	margin: 5px;
	
	background-color: white;
}


.TagSelectorTitle
{
	position: relative;
	
	font-size: 24px;
	text-align: center;
	
	color: #778f9b;
}

.TagSelectorTitleSelectedAnimation
{
	transition: 0.2s;
	color: #e91e63;
}

.TagSelectorTitleUnselectedAnimation
{
	transition: 0.2s;
	color: #778f9b;
}

.TagSelectorText
{
	position: relative;
	
	top: 5px;
	
	font-size: 14px;
	text-align: center;
	
	color: #02a9f4;
}

.TagSelectorInput
{
	position: relative;
	
	width: 90%;
	height: 24px;
	left: 4%;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	padding-left: 5px;
	
	outline: none;
	
	font-size: 14px;
}

.TagSelectorInput:focus
{
	@include MaterialShadow (2);
}

.TagSelector
{
	width: 100%;
	
	min-height: 30px;
	
	
	@include MaterialShadow (1);
	border-radius: 10px;
	border: thin solid black;
}

.TagSelector:hover
{
	transition: 0.2s;
	@include MaterialShadow (2);
}

.TagSelectorTags
{
	min-width: 100px;
	min-height: 50px;
	width: 98%;
}

.TagSelectorBubble
{
	display: inline-block;
	position: relative;
	min-width: 20px;
	
	padding: 5px;
	margin: 5px;
	
	width: auto;
	
	
	border-radius: 10px;
	text-align: center;
	
	background-color: #baddf9;
	


	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


.TagSelectorBubble:hover
{
	color: #ef6191;
	cursor: pointer;
}
